/* Root (j'ai mis les variables pour mes couleurs) */
:root {
    --rose: #B783A9;
    --fond: #1E1E1E;
    --blanc: #FFFFFF;
    --vert: #A7FF65;
}

/* cache le overflow du html (principalement pour les bandes défilantes) */
html {
    overflow-x: hidden;
}


/* body on met la police de base couleur du fond et on cache le overflow */
body {
    font-family: "Instrument Serif";
    background-color: var(--fond);
    overflow-x: hidden;
}

/* retirer les decorations de liens  + couleurs */
a {
    text-decoration: none;
    color: var(--blanc);
}


/* hover en blanc sur les liens */
a:hover {
    color: var(--blanc);
}


/* css du header */
.header {
    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr;
    padding: 0 1.2vw 0 1.2vw;
}

/* css pour les titres header */
.titre_header {
    justify-self: start;
    align-self: end;
    transform: translateY(10px);
    color: var(--blanc);
    font-size: clamp(2rem, 5vw, 5rem);
    text-decoration: none;
    cursor: default;
}




/* css pour les noms headers change la couleur et la police */
.nom_header {
    justify-self: start;
    align-self: end;
    color: var(--rose);
    font-family: "Archivo";
    letter-spacing: -0.15vw;
    font-size: clamp(0.7rem, 2vw, 5rem);
}

/* css pour l'annee_header change police et couleur */
.annee_header {
    justify-self: end;
    align-self: end;
    color: var(--rose);
    font-family: "Archivo";
    letter-spacing: -0.15vw;
    font-size: clamp(0.7rem, 2vw, 5rem);
}

/* css pour la section hero */
.hero {
    height: 100vh;
    background-image: url(./medias/img/montagne2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* css pour les bandes de texte */
.bande {
    margin: 12vh 0 12vh 0;
    font-size: 4rem;
    color: var(--blanc);
}

.conainer_bande {
    display: flex;
    align-items: center;
    width: 100%;
}

.bande_wrapper {
    display: flex;
}

/* css pour les sections projets */
.container_projet {
    border-bottom: var(--rose) solid 1px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10vw 1fr;
    height: 75vh;
}

.container_projet_double {
    border-bottom: var(--rose) solid 1px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10vw 1fr;
    height: 75vh;
}

/* css pour les images projets */
.container_image_projet {
    grid-row: span 2;
    overflow: hidden;
}

.image-projet {
    inset: 0;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

/* css pour les titres projets */
.container_titre_projet {
    justify-self: center;
    align-self: center;
    align-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.titre_projet {
    font-size: clamp(2rem, 5vw, 5rem);
    color: var(--blanc);
    justify-self: center;

}

/* css pour les textes projets */
.container_texte_projet {
    text-align: center;
    justify-self: center;
    align-self: center;
    align-content: center;
    padding: 1vw;
    width: 100%;
    height: 100%;
}

.texte_projet {
    padding: 12px;
    font-family: "Archivo";
    color: var(--rose);
    font-size: clamp(16px, 1.5vw, 1.5vw);
    align-self: center;
}

/* css pour les boutons */
.bouton {
    width: 50%;
    height: 15%;
    background-color: var(--fond);
    color: var(--vert);
    font-size: clamp(16px, 1.5vw, 1.5vw);
}


/* css pour la section a propos et contact */
.container_apropos_contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10vw 1fr;
    height: 50vh;

}

.titre_contact {
    font-size: 5vw;
    color: var(--blanc);
    justify-self: center;
}

.titre_apropos {
    font-size: 5vw;
    color: var(--blanc);
    justify-self: center;
}

.texte_contact {
    padding: 12px;
    font-family: "Archivo";
    color: var(--rose);
    font-size: clamp(16px, 1.5vw, 1.5vw);
    align-self: center;
    text-align: center;
    list-style: none;

}

.texte_apropos {
    padding: 24px;
    font-family: "Archivo";
    color: var(--rose);
    font-size: clamp(16px, 1.5vw, 1.5vw);
    align-self: center;
    text-align: center;
}


/* css pour les mots en vert */
.mot_highlight {
    display: inline;
    font-family: "Instrument Serif";
    color: var(--vert);
    letter-spacing: 0.05vw;
}

/* css pour la section competences */
.container_competence {
    justify-content: start;
    border-top: var(--rose) solid 1px;
    border-bottom: var(--rose) solid 1px;
}

.competence {
    font-size: 5rem;
    color: var(--rose);
}

/* css pour le footer */
.footer {
    font-family: "Archivo";
    font-size: clamp(0.7rem, 1vw, 1vw);
    color: var(--rose);
    text-align: center;
    padding-top: 7rem;
}

/* classe pour border top (classe qui vien se placer sur métrage pour qu'elle ait une bordure en haut) */
.borderTop {
    border-top: var(--rose) solid 1px;
}

/* css pour le bouton retour */
.bouton_retour {
    display: flex;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    border: 2px solid var(--rose);
    color: var(--rose);
    font-size: clamp(16px, 1.5vw, 1.5vw);
    transition: background-color 0.3s, color 0.3s;
    justify-self: center;
}

/* css pour les sections dans la page projet */
.container_section_projet {
    display: grid;
    padding: 24px;
    height: 100%;
    border-bottom: var(--rose) solid 1px;
    justify-content: center;

}

/* css pour les affichages alternatifs (image a droite ou a gauche) */
.affAlt>.container_titre_projet {
    order: 1;
}

.affAlt>.container_image_projet {
    order: 0;
}

.affAlt>.container_texte_projet {
    order: 2;
}




/* css pour le carousel d'images */
.carousel {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 50vh;
    margin: 2rem auto;
    overflow: hidden;
}

.carousel img {
    width: 100%;
    height: auto;
    height: 50vh;
    display: block;
    transition: opacity 0.5s ease;
}

.carousel-controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 0.5rem;
}

/* css pour les boutons du carousel */
.carousel-controls button {
    background: none;
    border: 1px solid var(--rose);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease;
}

.carousel-controls button.active {
    background: var(--vert);
}



/* media query pour les ecrans plus petits que 800px (RESPONSIVE) */
@media screen and (max-width: 800px) {


    .competence {
        font-size: 2rem;
    }

    .container_projet {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10vw 20vw 1fr;
        height: 60vh;
    }

    .container_projet_double {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10vw 20vw 10vw 20vw;
        height: 60vh;
    }

    .bouton {
        height: 1.7rem;
        margin-bottom: 0.5rem;
    }

    .affAlt>.container_titre_projet {
        order: 0;
    }

    .affAlt>.container_image_projet {
        order: 1;
    }

    .affAlt>.container_texte_projet {
        order: 2;
    }



    .container_apropos_contact {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10vw 1fr 10vw 1fr;
        height: 100vh;
    }

    .container_apropos_contact>.titre_contact {
        order: 1;
    }

    .container_apropos_contact>.texte_contact {
        order: 2;
    }

}