:root {
    --rose: #B783A9;
    --fond: #1E1E1E;
    --blanc: #FFFFFF;
    --vert: #A7FF65;
}




html {

    overflow-x: hidden;

}

body {
    font-family: "Instrument Serif";
    background-color: var(--fond);
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--blanc);
}

.header {
    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr;
    padding: 0 1.2vw 0 1.2vw;
}

.lightmode {

    justify-self: flex-end;
    align-self: center;
    height: 15%;
    width: 33%;


}

.titre_header {
    justify-self: start;
    align-self: end;
    transform: translateY(10px);
    color: var(--blanc);
    font-size: clamp(2rem, 5vw, 5rem);
    text-decoration: none;
    cursor: default;
}

a:hover {

    color: var(--blanc);

}

.nom_header {
    justify-self: start;
    align-self: end;
    color: var(--rose);
    font-family: "Archivo";
    letter-spacing: -0.15vw;
    font-size: clamp(0.7rem, 2vw, 5rem);
}

.annee_header {
    justify-self: end;
    align-self: end;
    color: var(--rose);
    font-family: "Archivo";
    letter-spacing: -0.15vw;
    font-size: clamp(0.7rem, 2vw, 5rem);
}

.hero {
    height: 100vh;
    background-image: url(../medias/img/montagne2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.bande {
    margin: 12vh 0 12vh 0;
    font-size: 4rem;
    color: var(--blanc);
}

.conainer_bande {
    display: flex;
    align-items: center;
    width: 100%;
}

.bande_wrapper {
    display: flex;
}


.container_projet {
    border-bottom: var(--rose) solid 1px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10vw 1fr;
    height: 75vh;
}

.container_projet_double {
    border-bottom: var(--rose) solid 1px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10vw 1fr;
    height: 75vh;
}

.container_image_projet {
    grid-row: span 2;
    overflow: hidden;
    /* max-width: 80%;
    aspect-ratio: 16/9; */
    /* justify-self: center;
    align-self: center; */
}

.image-projet-test {
    inset: 0;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.container_titre_projet {

    /* border-top: var(--rose) solid 1px; */
    justify-self: center;
    align-self: center;
    align-content: center;
    text-align: center;
    width: 100%;
    height: 100%;

}

.titre_projet {
    font-size: clamp(2rem, 5vw, 5rem);
    color: var(--blanc);
    justify-self: center;

}

.container_texte_projet {

    /* border-bottom: var(--rose) solid 1px; */
    text-align: center;
    justify-self: center;
    align-self: center;
    align-content: center;
    padding: 1vw;
    width: 100%;
    height: 100%;
}

.texte_projet {
    padding: 12px;
    font-family: "Archivo";
    color: var(--rose);
    font-size: clamp(16px, 1.5vw, 1.5vw);
    align-self: center;
}

.bouton {
    width: 15vw;
    height: 7vh;
    background-color: var(--fond);
    color: var(--vert);
    border: solid 1px var(--vert);
    border-radius: 5px;
    font-size: clamp(16px, 1.5vw, 1.5vw);
    margin: 2vh;

}

.container_apropos_contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10vw 1fr;
    height: 50vh;
}

.titre_contact {
    font-size: clamp(2rem, 5vw, 5rem);
    color: var(--blanc);
    justify-self: center;
}

.titre_apropos {
    font-size: clamp(2rem, 5vw, 5rem);
    color: var(--blanc);
    justify-self: center;
}

.texte_contact {
    padding: 12px;
    font-family: "Archivo";
    color: var(--rose);
    font-size: clamp(16px, 1.5vw, 1.5vw);
    align-self: center;
    text-align: center;
    list-style: none;

}

.texte_apropos {
    padding: 24px;
    font-family: "Archivo";
    color: var(--rose);
    font-size: clamp(16px, 1.5vw, 1.5vw);
    align-self: center;
    text-align: center;
}

.mot_highlight {
    display: inline;
    font-family: "Instrument Serif";
    color: var(--vert);
    letter-spacing: 0.05vw;
}


.container_competence {
    justify-content: start;
    border-top: var(--rose) solid 1px;
    border-bottom: var(--rose) solid 1px;
}

.competence {
    font-size: 5rem;
    color: var(--rose);
}

.footer {
    font-family: "Archivo";
    font-size: clamp(0.7rem, 1vw, 1vw);
    color: var(--rose);
    text-align: center;
    padding-top: 7rem;
}

.borderTop{
    border-top: var(--rose) solid 1px;
}

.affAlt>.container_titre_projet {
    order: 1;
}

.affAlt>.container_image_projet {
    order: 0;
}

.affAlt>.container_texte_projet {
    order: 2;
}


@media screen and (max-width: 800px) {

.hero{}
    .competence {
        font-size: 2rem;
    }

    .container_projet {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10vw 20vw 1fr;
        height: 60vh;
    }

    .container_projet_double {
    display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10vw 20vw 10vw 20vw;
        height: 60vh;
}

    .bouton {
        height: 1.7rem;
        margin-bottom: 0.5rem;
    }

    .affAlt>.container_titre_projet {
        order: 0;
    }

    .affAlt>.container_image_projet {
        order: 1;
    }

    .affAlt>.container_texte_projet {
        order: 2;
    }



    .container_apropos_contact {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10vw 1fr 10vw 1fr;
        height: 100vh;
    }

    .container_apropos_contact>.titre_contact {
        order: 1;
    }

    .container_apropos_contact>.texte_contact {
        order: 2;
    }

}