* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#page_accueil {
    height: 100vh;
    width: 100vw;
}

#section_projets {
    background-color: #ffffff;

    width: 100vw;
}

.nametag {

    position: absolute;
    left: 50%;
    top: 85%;
    transform: translateX(-50%);
    background-color: #ffffff;
    padding: 1vh;

}



a {
    text-decoration: none;
    color: black;
    transition: color 0.5s ease-in-out, font-style 0.5s ease-in-out;

}

a:hover {

    font-style: italic;
    color: rgb(0, 119, 255);


}

.btnmenu {
    background-color: #ffffff;
    align-self: center;
    padding: 1vh;

}

.navigation {

    background-color: #ffffff;
    align-self: center;
    padding: 1vh;
    display: flex;
    justify-content: space-evenly;

}


.texteaccueil {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    padding: 1vh;
    font-size: 5vw;
    font-style: italic;
    letter-spacing: -0.4vw;

}

body {
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Archivo";
    font-weight: 900;
    letter-spacing: -0.05vh;
    font-size: clamp(12px, 1vw, 1vw);
}

.active {

    text-decoration: underline;

}

#barre_projets {
    display: flex;
    justify-content: center;
    font-size: 3em;
}

.projet {
    display: block;
    justify-content: center;
    align-items: end;
    height: 50vh;
    width: 25vw;
    transition: 0.1s ease-in-out;
    margin-bottom: 7em;
}

.projet_img{

    background-image: url(https://imgs.search.brave.com/bAe33gK7hxL0OZcq_zxS9KGCvt01Yn-4XKKJx466FVM/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jZG4u/cGl4YWJheS5jb20v/cGhvdG8vMjAyMy8x/MC8wNS8wMS8wMC9m/YXJtZXItODI5NDcx/Nl82NDAuanBn);
height: 100%;
width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;

}

.bascarte {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 100%;
    height: 15%;
    transition: 0.1s ease-in-out;

}

.projet:hover {

    transform: scale(102%);

}



@media screen and (max-width: 1000px) {

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;

    }

    .projet {
        width: 50vw;
    }


}