body {
    font-family: "Instrument Serif";
    background-color: #1E1E1E;
}

.header {
    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr;
    padding: 0 12px 0 12px;
}

.titre_header {
    justify-self: start;
    align-self: end;
    transform: translateY(10px);
    color: white;
    font-size: 5rem;

}

.nom_header {
    justify-self: start;
    align-self: end;
    color: #B783A9;
    font-family: "Archivo";
    letter-spacing: -0.15rem;
    font-size: 2rem;
}

.annee_header {
    justify-self: end;
    align-self: end;
    color: #B783A9;
    font-family: "Archivo";
    letter-spacing: -0.15rem;
    font-size: 2rem;
}

.hero {
    height: 100vh;
    background-image: url(../medias/img/Frame\ 17.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.bande_projets {
    margin: 10rem 0 10rem 0;
    font-size: 5rem;
    color: white;
}

.container_projet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10rem 1fr;
    height: 85vh;
    margin-bottom: 7rem;
}

.image_projet {
    grid-row: span 2;
    background-image: url(../medias/img/image\ 11.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.titre_projet {
    font-size: 5rem;
    color: white;
    justify-self: center;
    align-self: center;
}

.texte_projet {
    padding: 12px;
    font-family: "Archivo";
    color: #B783A9;
    font-size: 1.5rem;
    align-self: center;
}